POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/real_time_db
DATABASE_NAME=real_time_db
REDIS_URL=redis://localhost:6379/0
JWT_SECRET=super-secret-key-change-tho-it-also-has-to-be-long-tho-123456
